{% extends "base.html.twig" %}
{% block title %}
{{ parent() }}
Manage Movies
{% endblock %}
{% block stylesheets %}
{{ parent() }}
{% endblock %}
{% block body %}
<h2>Manage Movies</h2>
    <div class="col-xs-12 text-center">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Slug</th>
                <th scope="col">Poster Url</th>
                <th scope="col">Backdrop Url</th>
                <th scope="col">Plot</th>
                <th scope="col">Release Date</th>
                <th scope="col">Edit</th>
                <th scope="col">Remove</th>
            </tr>
            </thead>
            <tbody>
            {% for movie in movies %}
                <tr id="{{ movie.id  }}">
                    <td>
                        <input type="text" class="form-control" id="title-{{ movie.getId() }}" value="{{ movie.getTitle() }}">
                    </td>
                    <td>
                        <input type="text" class="form-control" id="slug-{{ movie.getId() }}" value="{{ movie.getSlug() }}">
                    </td>
                    <td>
                        <input type="text" class="form-control" id="poster_url-{{ movie.getId() }}" value="{{ movie.getPosterURL() }}">
                    </td>
                    <td>
                        <input type="text" class="form-control" id="backdrop_url-{{ movie.getId() }}" value="{{ movie.getBackdropUrl() }}">
                    </td>
                    <td>
                        <input type="text" class="form-control" id="plot-{{ movie.getId() }}" value="{{ movie.getPlot() }}">
                    </td>
                    <td>
                        <input type="text" class="form-control" id="release_date-{{ movie.getId() }}" value="{{ movie.getReleaseDate()|date('Y-m-d') }}">
                    </td>
                    <td>
                        <button type="button" class="btn btn-link glyphicon glyphicon-pencil" onclick="editMovie({{ movie.getId() }});">Edit</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger glyphicon glyphicon-trash" onclick="removeMovie({{ movie.getId() }});">Remove</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="navigation text-center">
        {{ knp_pagination_render(movies) }}
    </div>
    <div class="col-xs-12 text-center">
        <a href="/">Back to Home Page</a>
    </div>
{% block content %}{% endblock %}
{% endblock %}
{% block javascripts %}
{{ parent() }}
{% endblock %}
