{% extends "base.html.twig" %}
{% block title %}
    {{ parent() }}
    {{ movie.getTitle() }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/highlighter/css/searchText.css') }}"  />
    <link href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.standalone.css' rel='stylesheet' type='text/css'>
{% endblock %}
{% block body %}
    <h2>Movie Details</h2>
    <div class="col-xs-12">
            <div class="col-xs-12" style="border-bottom : thick solid #0000FF;margin-bottom:10px">
                <div class="form-group col-xs-8">
                    <label>ID</label>:&nbsp&nbsp&nbsp
                    <span>{{ movie.getMovieId() }}</span><br>
                    <label>Title</label>:&nbsp&nbsp&nbsp
                    <span>{{ movie.getTitle() }}</span><br>
                    <label>Slug</label>:&nbsp&nbsp&nbsp
                    <span>{{ movie.getSlug() }}</span><br>
                    <label>Poster URL</label>:&nbsp&nbsp&nbsp
                    <span>{{ movie.getPosterURL() }}</span><br>
                    <label >Backdrop Url</label>:&nbsp&nbsp&nbsp
                    <span>{{ movie.getBackdropURL() }}</span><br>
                    <label>Release Date</label>:&nbsp&nbsp&nbsp
                    <span>{{ movie.getReleaseDate()|date('Y-m-d') }}</span><br>
                    <label>Plot</label>:&nbsp&nbsp&nbsp
                    <span>{{ movie.getPlot() }}</span><br>
                </div>
            </div>
    </div>
    <div class="col-xs-12 text-center">
        <a href="/list-movies">Back to Movies Listening</a>
    </div>

    {% block content %}{% endblock %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}