{% extends "base.html.twig" %}
{% block title %}
    {{ parent() }}
    Manage Movies
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <h2>Manage Movies</h2>
    <div class="col-xs-12 text-center">
        <div class="col-xs-12">
            <div class="col-xs-6">
                <ul class="list-group">
                    <li class="list-group-item"><a href="/list-movies">List Movies</a></li>
                    <li class="list-group-item"><a href="/movie/add-page">Add Movies</a></li>
                    <li class="list-group-item"><a href="/movies/manage">Manage Manage</a></li>
                </ul>
            </div>
        </div>
    </div>

    {% block content %}{% endblock %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
